html, body{
    width: 100%;
    height: 100%;
    color: rgb(78, 74, 74);
}
body{
    display: flex;
    flex-direction: column;
}
.header{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    background-color: rgb(93, 199, 218);
}
.navbar a{
    text-decoration: none;
    color: rgb(78, 74, 74);
    font-weight: 700;
}
.uLogin{
    width: 50%;
    margin: 0 auto;
    font-weight: 500;
}
.btn-block{
    font-weight: 400;
    background-color: rgba(93, 199, 218, 0.918);
}
.uLogin .btn-link{
    text-decoration: none;
    color: blue;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 75px;
    background-color: #9cd2eb;
    font-family: 'Montserrat', sans-serif;
}
.footer{
    padding: 10px 15px;
}
.footer a{
    padding: 0px 10px;
    color: rgb(78, 74, 74);
}
.block1-left{
    float: left;
}
.block2-right{
    float: right;
}
.block3-bottom{
    text-align: center;
    padding: 20px 0px 7px 0px;
}
.content{
    flex-grow: 1;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.content .row{
    margin: 0;
}

/* //index1.html */
.user{
    border-radius: 90px;
    background-color: #fff;
}

/* //main-page */
.brandBanner{
    height: 70px;
}
.banner{
    width: 85%;
    height: 95%;
    margin: 0 auto;
    background-color: coral;
}
.brandBannerMini{
    height: 40%;
}
.bannerMini{
    width: 95%;
    height: 95%;
    margin: 0 auto;
    background-color: coral;

}
.badge{
    font-size: 18px;
}
.vacancyArea{
    font-family: 'Roboto', sans-serif;
}
.vacancyCard p{
    font-size: 15px;
}

/* //indexMessage */
.message{
    width: 75%;
    margin: 0 auto;
    padding: 3%;
}
.message .card-img-top{
    width: 150px;
    margin: 0 auto;
}